<a href="https://colab.research.google.com/github/joaoSouza2121/RedeNeurais-Tensorflow/blob/main/rna_estimators_census.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Redes Neurais Artificiais - Usando estimators

Base de dados census - com base em varias caracteristica prever se uma pessoa ganha acima de 50k dolares ao ano ou menos.

In [ ]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

# Carregando a base de dados

In [ ]:
base = pd.read_csv('census.csv')

In [ ]:
base.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
# valores unicos da classe
base.income.unique()

array([' <=50K', ' >50K'], dtype=object)

# Função para converter a classe em 0 e 1

In [ ]:
def converte_classe(rotulo):
    if rotulo == ' >50K':
        return 1
    else:
        return 0

In [ ]:
base.income = base.income.apply(converte_classe)

In [ ]:
base.head()

   age          workclass  final-weight  ... hour-per-week  native-country income
0   39          State-gov         77516  ...            40   United-States      0
1   50   Self-emp-not-inc         83311  ...            13   United-States      0
2   38            Private        215646  ...            40   United-States      0
3   53            Private        234721  ...            40   United-States      0
4   28            Private        338409  ...            40            Cuba      0

[5 rows x 15 columns]

# Variáveis previsoras e preditora

In [ ]:
X = base.drop('income', axis = 1)
y = base.income

In [ ]:
X.head()

   age          workclass  ...  hour-per-week  native-country
0   39          State-gov  ...             40   United-States
1   50   Self-emp-not-inc  ...             13   United-States
2   38            Private  ...             40   United-States
3   53            Private  ...             40   United-States
4   28            Private  ...             40            Cuba

[5 rows x 14 columns]

In [ ]:
X.shape

(32561, 14)

In [ ]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income, dtype: int64

# Divisão da base de dados em treinamento e teste

In [ ]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [ ]:
print(X_treinamento.shape, '------', X_teste.shape)
print('-------------------------------------')
print(y_treinamento.shape, '--------', y_teste.shape)

(22792, 14) ------ (9769, 14)
-------------------------------------
(22792,) -------- (9769,)

In [ ]:
base.columns

Index(['age', 'workclass', 'final-weight', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loos', 'hour-per-week', 'native-country',
       'income'],
      dtype='object')

In [ ]:
import tensorflow as tf

In [ ]:
base.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

# Definindo as colunas categóricas

In [ ]:
workclass = tf.feature_column.categorical_column_with_hash_bucket(key = 'workclass', hash_bucket_size = 100)
education = tf.feature_column.categorical_column_with_hash_bucket(key = 'education', hash_bucket_size = 100)
marital_status = tf.feature_column.categorical_column_with_hash_bucket(key = 'marital-status', hash_bucket_size = 100)
occupation = tf.feature_column.categorical_column_with_hash_bucket(key = 'occupation', hash_bucket_size = 100)
relationship = tf.feature_column.categorical_column_with_hash_bucket(key = 'relationship', hash_bucket_size = 100)
race = tf.feature_column.categorical_column_with_hash_bucket(key = 'race', hash_bucket_size = 100)
country = tf.feature_column.categorical_column_with_hash_bucket(key = 'native-country', hash_bucket_size = 100)

In [ ]:
base.sex.unique()

array([' Male', ' Female'], dtype=object)

In [ ]:
sex = tf.feature_column.categorical_column_with_vocabulary_list(key = 'sex', vocabulary_list=[' Male', ' Female'])

In [ ]:
base.age.mean()

38.58164675532078

In [ ]:
base.age.std()

13.640432553581146

# Definindo as colunas numericas

In [ ]:
def padroniza_age(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(38.58)), tf.constant(13.64))

def padroniza_finalweight(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(189778.36)), tf.constant(105549.977))

def padroniza_education(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(10.08)), tf.constant(2.57))

def padroniza_capitalgain(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(1077.64)), tf.constant(7385.29))

def padroniza_capitalloos(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(87.30)), tf.constant(402.96))

def padroniza_hour(valor):
    return tf.divide(tf.subtract(tf.cast(valor, tf.float32), tf.constant(40.43)), tf.constant(12.34))

In [ ]:
age = tf.feature_column.numeric_column(key = 'age', normalizer_fn = padroniza_age)
final_weight = tf.feature_column.numeric_column(key = 'final-weight', normalizer_fn = padroniza_finalweight)
education_num = tf.feature_column.numeric_column(key = 'education-num', normalizer_fn = padroniza_education)
capital_gain = tf.feature_column.numeric_column(key = 'capital-gain', normalizer_fn = padroniza_capitalgain)
capital_loos = tf.feature_column.numeric_column(key = 'capital-loos', normalizer_fn = padroniza_capitalloos)
hour = tf.feature_column.numeric_column(key = 'hour-per-week', normalizer_fn = padroniza_hour)

In [ ]:
len(base.workclass.unique())

9

# Criando as Embeddings

In [ ]:
embedded_workclass = tf.feature_column.embedding_column(workclass, dimension = 9)
embedded_education = tf.feature_column.embedding_column(education, dimension = len(base.education.unique()))
embedded_marital = tf.feature_column.embedding_column(marital_status, dimension = len(base['marital-status'].unique()))
embedded_occupation = tf.feature_column.embedding_column(occupation, dimension = len(base.occupation.unique()))
embedded_relationship = tf.feature_column.embedding_column(relationship, dimension = len(base.relationship.unique()))
embedded_race = tf.feature_column.embedding_column(race, dimension = len(base.race.unique()))
embedded_sex = tf.feature_column.embedding_column(sex, dimension = len(base.sex.unique()))
embedded_country = tf.feature_column.embedding_column(country, dimension = len(base['native-country'].unique()))

In [ ]:
colunas_rna = [age, embedded_workclass, final_weight, embedded_education, education_num,
               embedded_marital, embedded_occupation, embedded_relationship, 
               embedded_race, embedded_sex,
               capital_gain, capital_loos, hour, embedded_country]

# Função de Treinamento

In [ ]:
def make_input_fn(X, y = None, num_epochs = None, shuffle = True, batch_size=32):
    def input_function():
        ds = tf.data.Dataset.from_tensor_slices((dict(X), y))
        if shuffle:
            ds = ds.shuffle(1000)
        ds = ds.batch(batch_size).repeat(num_epochs)
        return ds
    return input_function

In [ ]:
funcao_treinamento = make_input_fn(X_treinamento, y_treinamento)

In [ ]:
config = tf.estimator.RunConfig(tf_random_seed = 42)
classificador = tf.estimator.DNNClassifier(hidden_units = [8, 8], feature_columns = colunas_rna, n_classes = 2, config = config)
classificador.train(input_fn = funcao_treinamento, steps = 10000)

WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpi_uf3_wt
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpi_uf3_wt', '_tf_random_seed': 42, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_checkpoint_save_graph_def': True, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/training/training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adagrad.py:84: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpi_uf3_wt/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 0.67846966, step = 0
INFO:tensorflow:global_step/sec: 204.744
INFO:tensorflow:loss = 0.641011, step = 100 (0.490 sec)
INFO:tensorflow:global_step/sec: 447.002
INFO:tensorflow:loss = 0.61818624, step = 200 (0.224 sec)
INFO:tensorflow:global_step/sec: 444.032
INFO:tensorflow:loss = 0.6073266, step = 300 (0.228 sec)
INFO:tensorflow:global_step/sec: 466.572
INFO:tensorflow:loss = 0.5919659, step = 400 (0.212 sec)
INFO:tensorflow:global_step/sec: 443.335
INFO:tensorflow:loss = 0.6071208, step = 500 (0.228 sec)
INFO:tensorflow:global_step/sec: 425.216
INFO:tensorflow:loss = 0.61996543, step = 600 (0.236 sec)
INFO:tensorflow:global_step/sec: 465.493
INFO:tensorflow:loss = 0.6287213, step = 700 (0.211 sec)
INFO:tensorflow:global_step/sec: 448.3
INFO:tensorflow:loss = 0.592767, step = 800 (0.226 sec)
INFO:tensorflow:global_step/sec: 393.794
INFO:tensorflow:loss = 0.5473638, step = 900 (0.250 sec)
INFO:tensorflow:global_step/sec: 430.074
INFO:tensorflow:loss = 0.53446496, step = 1000 (0.235 sec)
INFO:tensorflow:global_step/sec: 449.779
INFO:tensorflow:loss = 0.44462252, step = 1100 (0.224 sec)
INFO:tensorflow:global_step/sec: 445.965
INFO:tensorflow:loss = 0.53108656, step = 1200 (0.223 sec)
INFO:tensorflow:global_step/sec: 407.193
INFO:tensorflow:loss = 0.5668388, step = 1300 (0.244 sec)
INFO:tensorflow:global_step/sec: 395.535
INFO:tensorflow:loss = 0.5349909, step = 1400 (0.253 sec)
INFO:tensorflow:global_step/sec: 442.826
INFO:tensorflow:loss = 0.56939626, step = 1500 (0.225 sec)
INFO:tensorflow:global_step/sec: 449.815
INFO:tensorflow:loss = 0.51255727, step = 1600 (0.225 sec)
INFO:tensorflow:global_step/sec: 449.178
INFO:tensorflow:loss = 0.52722454, step = 1700 (0.220 sec)
INFO:tensorflow:global_step/sec: 424.571
INFO:tensorflow:loss = 0.54073274, step = 1800 (0.236 sec)
INFO:tensorflow:global_step/sec: 428.922
INFO:tensorflow:loss = 0.3708956, step = 1900 (0.236 sec)
INFO:tensorflow:global_step/sec: 427.089
INFO:tensorflow:loss = 0.48188117, step = 2000 (0.235 sec)
INFO:tensorflow:global_step/sec: 439.391
INFO:tensorflow:loss = 0.5206532, step = 2100 (0.227 sec)
INFO:tensorflow:global_step/sec: 425.232
INFO:tensorflow:loss = 0.4638157, step = 2200 (0.235 sec)
INFO:tensorflow:global_step/sec: 418.125
INFO:tensorflow:loss = 0.47662124, step = 2300 (0.239 sec)
INFO:tensorflow:global_step/sec: 424.048
INFO:tensorflow:loss = 0.4891312, step = 2400 (0.236 sec)
INFO:tensorflow:global_step/sec: 437.057
INFO:tensorflow:loss = 0.5561472, step = 2500 (0.229 sec)
INFO:tensorflow:global_step/sec: 404.116
INFO:tensorflow:loss = 0.45375696, step = 2600 (0.247 sec)
INFO:tensorflow:global_step/sec: 433.175
INFO:tensorflow:loss = 0.42334837, step = 2700 (0.228 sec)
INFO:tensorflow:global_step/sec: 444.896
INFO:tensorflow:loss = 0.4128601, step = 2800 (0.227 sec)
INFO:tensorflow:global_step/sec: 447.667
INFO:tensorflow:loss = 0.49319375, step = 2900 (0.221 sec)
INFO:tensorflow:global_step/sec: 446.545
INFO:tensorflow:loss = 0.4725096, step = 3000 (0.225 sec)
INFO:tensorflow:global_step/sec: 436.482
INFO:tensorflow:loss = 0.4160033, step = 3100 (0.228 sec)
INFO:tensorflow:global_step/sec: 423.349
INFO:tensorflow:loss = 0.4191815, step = 3200 (0.236 sec)
INFO:tensorflow:global_step/sec: 443.591
INFO:tensorflow:loss = 0.55790377, step = 3300 (0.226 sec)
INFO:tensorflow:global_step/sec: 420.336
INFO:tensorflow:loss = 0.37119478, step = 3400 (0.238 sec)
INFO:tensorflow:global_step/sec: 426.302
INFO:tensorflow:loss = 0.46143875, step = 3500 (0.235 sec)
INFO:tensorflow:global_step/sec: 407.171
INFO:tensorflow:loss = 0.535494, step = 3600 (0.245 sec)
INFO:tensorflow:global_step/sec: 426.78
INFO:tensorflow:loss = 0.42414254, step = 3700 (0.235 sec)
INFO:tensorflow:global_step/sec: 420.154
INFO:tensorflow:loss = 0.5280776, step = 3800 (0.241 sec)
INFO:tensorflow:global_step/sec: 439.44
INFO:tensorflow:loss = 0.4146216, step = 3900 (0.227 sec)
INFO:tensorflow:global_step/sec: 438.815
INFO:tensorflow:loss = 0.4305227, step = 4000 (0.228 sec)
INFO:tensorflow:global_step/sec: 423.762
INFO:tensorflow:loss = 0.52079064, step = 4100 (0.236 sec)
INFO:tensorflow:global_step/sec: 438.862
INFO:tensorflow:loss = 0.38929552, step = 4200 (0.224 sec)
INFO:tensorflow:global_step/sec: 423.72
INFO:tensorflow:loss = 0.4214328, step = 4300 (0.236 sec)
INFO:tensorflow:global_step/sec: 435.087
INFO:tensorflow:loss = 0.53468955, step = 4400 (0.234 sec)
INFO:tensorflow:global_step/sec: 414.706
INFO:tensorflow:loss = 0.55230296, step = 4500 (0.238 sec)
INFO:tensorflow:global_step/sec: 426.162
INFO:tensorflow:loss = 0.28246504, step = 4600 (0.235 sec)
INFO:tensorflow:global_step/sec: 456.119
INFO:tensorflow:loss = 0.51071644, step = 4700 (0.223 sec)
INFO:tensorflow:global_step/sec: 440.705
INFO:tensorflow:loss = 0.48980582, step = 4800 (0.226 sec)
INFO:tensorflow:global_step/sec: 434.069
INFO:tensorflow:loss = 0.40493575, step = 4900 (0.230 sec)
INFO:tensorflow:global_step/sec: 458.415
INFO:tensorflow:loss = 0.35514468, step = 5000 (0.219 sec)
INFO:tensorflow:global_step/sec: 432.828
INFO:tensorflow:loss = 0.31712875, step = 5100 (0.231 sec)
INFO:tensorflow:global_step/sec: 457.292
INFO:tensorflow:loss = 0.46455026, step = 5200 (0.215 sec)
INFO:tensorflow:global_step/sec: 447.401
INFO:tensorflow:loss = 0.42769453, step = 5300 (0.224 sec)
INFO:tensorflow:global_step/sec: 437.233
INFO:tensorflow:loss = 0.5104595, step = 5400 (0.228 sec)
INFO:tensorflow:global_step/sec: 435.06
INFO:tensorflow:loss = 0.3529793, step = 5500 (0.229 sec)
INFO:tensorflow:global_step/sec: 435.073
INFO:tensorflow:loss = 0.32558954, step = 5600 (0.230 sec)
INFO:tensorflow:global_step/sec: 400.967
INFO:tensorflow:loss = 0.4725524, step = 5700 (0.249 sec)
INFO:tensorflow:global_step/sec: 414.579
INFO:tensorflow:loss = 0.3520484, step = 5800 (0.244 sec)
INFO:tensorflow:global_step/sec: 432.576
INFO:tensorflow:loss = 0.4494019, step = 5900 (0.232 sec)
INFO:tensorflow:global_step/sec: 463.102
INFO:tensorflow:loss = 0.4732401, step = 6000 (0.212 sec)
INFO:tensorflow:global_step/sec: 448.461
INFO:tensorflow:loss = 0.53747356, step = 6100 (0.223 sec)
INFO:tensorflow:global_step/sec: 455.437
INFO:tensorflow:loss = 0.3851667, step = 6200 (0.224 sec)
INFO:tensorflow:global_step/sec: 432.281
INFO:tensorflow:loss = 0.52536035, step = 6300 (0.229 sec)
INFO:tensorflow:global_step/sec: 463.47
INFO:tensorflow:loss = 0.30915207, step = 6400 (0.218 sec)
INFO:tensorflow:global_step/sec: 438.232
INFO:tensorflow:loss = 0.38833213, step = 6500 (0.227 sec)
INFO:tensorflow:global_step/sec: 422.252
INFO:tensorflow:loss = 0.3251, step = 6600 (0.238 sec)
INFO:tensorflow:global_step/sec: 421.942
INFO:tensorflow:loss = 0.38054055, step = 6700 (0.237 sec)
INFO:tensorflow:global_step/sec: 422.916
INFO:tensorflow:loss = 0.45553246, step = 6800 (0.236 sec)
INFO:tensorflow:global_step/sec: 403.342
INFO:tensorflow:loss = 0.37995613, step = 6900 (0.248 sec)
INFO:tensorflow:global_step/sec: 446.264
INFO:tensorflow:loss = 0.44474652, step = 7000 (0.224 sec)
INFO:tensorflow:global_step/sec: 412.826
INFO:tensorflow:loss = 0.47684819, step = 7100 (0.243 sec)
INFO:tensorflow:global_step/sec: 446.668
INFO:tensorflow:loss = 0.3524407, step = 7200 (0.224 sec)
INFO:tensorflow:global_step/sec: 452.513
INFO:tensorflow:loss = 0.23583212, step = 7300 (0.220 sec)
INFO:tensorflow:global_step/sec: 419.842
INFO:tensorflow:loss = 0.316959, step = 7400 (0.236 sec)
INFO:tensorflow:global_step/sec: 442.843
INFO:tensorflow:loss = 0.36971724, step = 7500 (0.226 sec)
INFO:tensorflow:global_step/sec: 437.793
INFO:tensorflow:loss = 0.4466876, step = 7600 (0.229 sec)
INFO:tensorflow:global_step/sec: 446.425
INFO:tensorflow:loss = 0.50000024, step = 7700 (0.226 sec)
INFO:tensorflow:global_step/sec: 421.591
INFO:tensorflow:loss = 0.2843381, step = 7800 (0.237 sec)
INFO:tensorflow:global_step/sec: 427.734
INFO:tensorflow:loss = 0.33046064, step = 7900 (0.233 sec)
INFO:tensorflow:global_step/sec: 410.208
INFO:tensorflow:loss = 0.42803672, step = 8000 (0.243 sec)
INFO:tensorflow:global_step/sec: 463.856
INFO:tensorflow:loss = 0.5073464, step = 8100 (0.215 sec)
INFO:tensorflow:global_step/sec: 458.299
INFO:tensorflow:loss = 0.4039416, step = 8200 (0.218 sec)
INFO:tensorflow:global_step/sec: 440.717
INFO:tensorflow:loss = 0.41526383, step = 8300 (0.227 sec)
INFO:tensorflow:global_step/sec: 433.008
INFO:tensorflow:loss = 0.37339377, step = 8400 (0.231 sec)
INFO:tensorflow:global_step/sec: 454.452
INFO:tensorflow:loss = 0.42033288, step = 8500 (0.223 sec)
INFO:tensorflow:global_step/sec: 449.32
INFO:tensorflow:loss = 0.3529991, step = 8600 (0.223 sec)
INFO:tensorflow:global_step/sec: 430.416
INFO:tensorflow:loss = 0.2604047, step = 8700 (0.228 sec)
INFO:tensorflow:global_step/sec: 423.605
INFO:tensorflow:loss = 0.42295134, step = 8800 (0.240 sec)
INFO:tensorflow:global_step/sec: 428.944
INFO:tensorflow:loss = 0.39478847, step = 8900 (0.232 sec)
INFO:tensorflow:global_step/sec: 400.398
INFO:tensorflow:loss = 0.3996736, step = 9000 (0.252 sec)
INFO:tensorflow:global_step/sec: 411.177
INFO:tensorflow:loss = 0.41936785, step = 9100 (0.242 sec)
INFO:tensorflow:global_step/sec: 404.543
INFO:tensorflow:loss = 0.42750365, step = 9200 (0.247 sec)
INFO:tensorflow:global_step/sec: 423.501
INFO:tensorflow:loss = 0.41738895, step = 9300 (0.233 sec)
INFO:tensorflow:global_step/sec: 451.36
INFO:tensorflow:loss = 0.39889488, step = 9400 (0.221 sec)
INFO:tensorflow:global_step/sec: 446.144
INFO:tensorflow:loss = 0.36938578, step = 9500 (0.226 sec)
INFO:tensorflow:global_step/sec: 438.114
INFO:tensorflow:loss = 0.40339142, step = 9600 (0.226 sec)
INFO:tensorflow:global_step/sec: 430.291
INFO:tensorflow:loss = 0.31910428, step = 9700 (0.234 sec)
INFO:tensorflow:global_step/sec: 442.286
INFO:tensorflow:loss = 0.35154885, step = 9800 (0.228 sec)
INFO:tensorflow:global_step/sec: 467.516
INFO:tensorflow:loss = 0.36600888, step = 9900 (0.210 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 10000...
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmpi_uf3_wt/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 10000...
INFO:tensorflow:Loss for final step: 0.61470175.

In [ ]:
funcao_teste = make_input_fn(X_teste, y_teste, num_epochs = 1, shuffle = False)

In [ ]:
classificador.evaluate(input_fn = funcao_teste, steps = 10000)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2021-10-26T01:58:24
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpi_uf3_wt/model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Inference Time : 1.36791s
INFO:tensorflow:Finished evaluation at 2021-10-26-01:58:25
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.82249975, accuracy_baseline = 0.7631283, auc = 0.86699, auc_precision_recall = 0.65954363, average_loss = 0.380941, global_step = 10000, label/mean = 0.23687173, loss = 0.38081694, precision = 0.67967784, prediction/mean = 0.24518996, recall = 0.47407088
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 10000: /tmp/tmpi_uf3_wt/model.ckpt-10000

{'accuracy': 0.82249975,
 'accuracy_baseline': 0.7631283,
 'auc': 0.86699,
 'auc_precision_recall': 0.65954363,
 'average_loss': 0.380941,
 'global_step': 10000,
 'label/mean': 0.23687173,
 'loss': 0.38081694,
 'precision': 0.67967784,
 'prediction/mean': 0.24518996,
 'recall': 0.47407088}